.wrapper {
  padding: 20px 8px 24px 8px;
  color: rgba(22, 24, 35, 0.75);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.dark-mode {
  &::before {
    content: '';
    background: rgba(255, 255, 255, 0.12);
  }
  & p {
    color: var(--white);
  }
}

.description {
  color: rgba(22, 24, 35, 0.5);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 22px;
}

.button {
  margin-top: 20px;
  font-size: 1.8rem;
  font-family: var(--font-sofia);
}
