.wrapper {
  margin-bottom: 8px;
}

.menu-item {
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 8px;
  border-radius: 4px;
  -webkit-transition: background-color ease-in-out 200ms;
  transition: background-color ease-in-out 200ms;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  &.active {
    color: var(--primary);

    .active-icon {
      display: block;
    }

    .icon {
      display: none;
    }
  }
}

.dark-mode-item {
  color: var(--white);
  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }

  &.active {
    color: var(--primary-dark);

    .active-icon {
      display: block;
    }

    .icon {
      display: none;
    }
  }
}

.title {
  margin-left: 8px;
}

.active-icon {
  display: none;
}
