.menu-list {
  width: 224px;
  .menu-item {
    margin-left: 0;
  }
}

.menu-item {
  width: 100%;
  justify-content: flex-start;
  line-height: 1.8rem;
  padding: 11px 8px 11px 16px;
  font-weight: 600;
  color: var(--text-color);
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 0;
  }
}

.menu-popper {
  padding-bottom: 8px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -16px;
    right: 13px;
    border: 9px solid;
    border-color: transparent transparent white transparent;
  }
}

.menu-popper-dark {
  &::after {
    border-color: transparent transparent #252525 transparent;
  }
}

.auth {
  &::after {
    right: 26px;
  }
}

.menu-body {
  overflow-y: auto;
}

.data-icon {
  position: absolute;
  width: 44px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  background: rgba(22, 24, 35, 0.12);
  border-radius: 100px;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.dark-off {
  position: absolute;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  background: #ffffff;
  box-shadow: rgb(0 0 0 / 15%) 0px 1px 2px;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.dark-on {
  position: absolute;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
  left: calc(100% - 2px);
  top: 50%;
  transform: translate(-100%, -50%);
  border-radius: 100px;
  background: #ffffff;
  box-shadow: rgb(0 0 0 / 15%) 0px 1px 2px;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.on {
  background: rgb(11, 224, 155);
}

.dark-mode-item {
  color: var(--white);
  background-color: #252525;
  &:hover {
    background: rgba(255, 255, 255, 0.04);
  }
}

.header {
  cursor: pointer;
  margin-top: -8px;
  position: relative;
  height: 50px;
  flex-shrink: 0;
}

.header-dark {
  color: var(--white);
  & > :first-child {
    color: var(--white);
  }
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
