.wrapper {
  width: 100%;
  min-height: 100px;
  max-height: min((100vh - 96px) - 60px, 734px);
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  margin-top: 8px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  border-radius: 8px;
  z-index: 1;
}

.dark-mode {
  background: #252525;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}
