.search,
.search-result {
  width: 361px;
}

.search {
  display: flex;
  height: var(--search-height);
  position: relative;
  padding: 12px 16px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-boder-radius);
  border: 1.5px solid transparent;
  input {
    flex: 1;
    height: 100%;
    font-size: 1.6rem;
    padding-right: 60px;
    color: var(--black);
    background-color: transparent;
    font-family: var(--font-family);
    caret-color: var(--primary);
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 1px;
    background-color: rgba(22, 24, 35, 0.12);
  }
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.dark-mode {
  background: rgba(255, 255, 255, 0.12);
  input {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(255, 255, 255, 0.75);
  }
  &::after {
    background-color: rgba(255, 255, 255, 0.12);
  }
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.loading {
  animation: spinner 1s linear;
}

.light-icon {
  color: rgba(255, 255, 255, 0.34);
  background-color: transparent;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  padding: 11px 16px 11px 12px;
  margin: -12px -16px;
  font-size: 2rem;
  color: rgba(22, 24, 35, 0.34);
  border-top-right-radius: var(--search-boder-radius);
  border-bottom-right-radius: var(--search-boder-radius);
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.search-btn-dark {
  color: rgba(255, 255, 255, 0.34);
  background-color: transparent;
  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }
}

.account-title {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}
